.about {
  padding-bottom: 51px;

  @media (max-width: $tablet-width) {
    padding-bottom: 82px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 80px;
  }
}

.about__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35.66%;
  margin-top: 117px;
  margin-right: 5.4%;

    @media (max-width: $tablet-width) {
      width: 47.60%;
      margin-top: 56px;
      margin-right: 4.44%;
    }

    @media (max-width: $mobile-width) {
      width: 290px;
      margin: 0 auto;
    }
}

.about__wrap span {
  @include default-style;
  @include headtitle-desktop;

  margin-bottom: 15px;

  color: $white;

    @media (max-width: $tablet-width) {
      font-size: 34px;
      line-height: 34px;

      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 28px;
    }
}

.about__wrap h2 {
  @include default-style;
  @include headtitle-desktop;
  margin-bottom: 58px;

  font-size: 109px;
  line-height: 109px;
  text-align: right;
  font-weight: bold;

  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 86px;
    line-height: 86px;

    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 78px;
    line-height: 78px;
  }
}

.about__place {
  position: absolute;

  top: 188px;
  right: 265px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

    @media (max-width: $tablet-width) {
      top: 130px;
      right: 215px;
    }

    @media (max-width: $mobile-width) {
      top: 120px;
      right: 175px;
    }
}

.about__place p {
  @include default-style;

  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;

  text-align: right;

  white-space: nowrap;
}

.about__img {
  @media (max-width: $tablet-width) {
    width: 324px;
    height: 390px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__social {
  @include default-style;

  margin-top: auto;
  margin-bottom: 45px;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.about__item {
  @include default-style;
  box-sizing: border-box;

  margin-bottom: 15px;

    &:last-child {
    margin-bottom: 0;
  }

  line-height: 0;
}

.about__link {
  @include default-style;

  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  color: $white;
}
