.action-block {
  background-color: $white;
}

.action-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 0;
  width: 1160px;

  padding-top: 122px;
  padding-bottom: 120px;

  @media (max-width: $tablet-width) {
    justify-content: center;

    width: 88.2%;

    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}

.action-block__wrapper h2 {
  @include default-style;
  @include headtitle-desktop;

  margin-bottom: 52px;
  text-align: center;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;

    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;
  }
}

.action-block__content {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
  }
}

.action-block__top {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: calc(50% - 20px);

  margin-right: 40px;

  color: $white;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin-bottom: 30px;
  }
}

.action-block__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 42%;
  max-width: auto;

  padding-top: 33px;
  padding-left: 45px;

  background-color: $red;

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    display: block;
    box-sizing: border-box;
    width: 290px;

    padding-bottom: 43px;
  }
}

.action-block__info-unit {
  @include default-style;

  font-weight: bold;
  font-size: 28px;
  line-height: 136%;

  text-align: left;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.action-block__info-number {
  @include default-style;

  margin-bottom: 14px;

  font-weight: bold;
  font-size: 70px;
  line-height: 110%;

  text-align: left;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;

    text-align: center;
  }
}

.action-block__info-limit {
  @include default-style;

  padding-right: 34px;

  font-size: 18px;
  line-height: 140%;

  text-align: left;

  @media (max-width: $mobile-width) {
    text-align: center;

    margin-bottom: 25px;
  }
}

.action-block__img {
  width: 280px;
  height: 462px;

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 399px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 299px;
  }
}

.action-block__img  img {
  width: 280px;

  @media (max-width: $tablet-width) {
    width: 399px;
    height: 462px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 299px;
  }
}

.action-block__more {
  @include default-style;

  margin-top: auto;
  margin-bottom: 45px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border-bottom: 1px solid $white;

  @media (max-width: $mobile-width) {
    margin-top: 0;

    margin-bottom: 0;
  }
}

.action-block__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  width: calc(50% - 20px);

  @media (max-width: $tablet-width) {
    flex-direction: row;

    width: 100%;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.action-block__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;

  max-width: 560px;
  min-height: 210px;

  padding: 19px 35px 27px 28px;

  border: 7px solid transparent;

  border-image: linear-gradient(130deg, #ed0233 0%, #063db4 45%);
  border-image-slice: 1;

  @media (max-width: $tablet-width) {
    width: calc(50% - 15px);

    &:first-child {
      padding-right: 55px;
    }

  }

  @media (max-width: $mobile-width) {
    display: block;
    width: auto;

    margin-bottom: 30px;
    padding-top: 30px;
  }
}

.action-block__item h3 {
  @include default-style;

  font-weight: bold;
  font-size: 26px;
  line-height: 156%;

  text-align: left;
}

.action-block__item p {
  @include default-style;

  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  text-align: left;

  @media (max-width: $tablet-width) {
    &:first-child {
      padding-right: 40px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
  }
}

.action-block__details {
  @include default-style;

  margin-top: auto;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $darkblue;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  text-align: left;

  border-bottom: 1px solid $darkblue;

  @media (max-width: $mobile-width) {
    width: auto;

    margin: 0;
    padding-top: 0;
  }
}
