.action-block {
  background-color: $white;
}

.action-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  max-width: 1160px;

  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 115px;

  @media (max-width: $tablet-width) {
    justify-content: center;

    width: 100%;

    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}

.action-block__wrapper h2 {
  @include default-style;
  @include headtitle-desktop;

  margin-bottom: 52px;
  text-align: center;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;

    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;
  }
}

.action-block__content {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  width: 100%;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;

    min-width: 678px;
    width: auto;

    margin: 0 auto;
  }
}

.action-block__top {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: calc(50% - 20px);

  margin-right: 40px;

  color: $white;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 462px;

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin-bottom: 30px;
  }
}

.action-block__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 42%;
  max-width: auto;
  height: auto;


  padding-top: 33px;
  padding-left: 45px;

  background-color: $red;

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    width: 279px;

    padding-top: 36px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    box-sizing: border-box;
    width: 290px;

    padding-bottom: 43px;
  }
}

.action-block__info-unit {
  @include default-style;

  font-weight: bold;
  font-size: 28px;
  line-height: 136%;

  text-align: left;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.action-block__info-number {
  @include default-style;

  margin-bottom: 16px;

  font-weight: bold;
  font-size: 70px;
  line-height: 100%;

  text-align: left;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;

    text-align: center;
  }
}

.action-block__info-limit {
  @include default-style;

  margin-bottom: 10px;
  padding-right: 34px;

  font-size: 18px;
  line-height: 140%;

  text-align: left;

  @media (max-width: $tablet-width) {
    padding-right: 40px;
  }

  @media (max-width: $mobile-width) {
    text-align: center;

    margin-bottom: 25px;
  }
}

.action-block__img {
  display: flex;

  width: 280px;
  min-height: 462px;

  @media (max-width: $tablet-width) {
    width: 399px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 299px;
  }
}

.action-block__img  img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  @media (max-width: $tablet-width) {
    width: 399px;
    height: 100%;

    object-fit: fill;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 299px;
  }
}

.action-block__more {
  @include default-style;

  margin-top: auto;
  margin-bottom: 46px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border-bottom: 1px solid $white;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.action-block__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  max-width: 560px;
  width: calc(50% - 20px);

  @media (max-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;

    min-width: 678px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.action-block__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;

  box-sizing: border-box;

  width: 100%;
  min-height: 210px;

  margin-bottom: 40px;
  padding: 15px 35px 27px 28px;

  border: 7px solid transparent;

  border-image: linear-gradient(130deg, #ed0233 0%, #063db4 45%);
  border-image-slice: 1;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    width: 47.79%;
    min-height: auto;

    margin-right: 30px;
    margin-bottom: 0;

    &:first-child {
      padding-right: 55px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: auto;

    margin-bottom: 30px;
    padding-top: 30px;
  }
}

.action-block__item h3 {
  @include default-style;

  font-weight: bold;
  font-size: 26px;
  line-height: 160%;

  text-align: left;

  @media (max-width: $tablet-width) {
    line-height: 170%;
  }
}

.action-block__item p {
  @include default-style;

  margin-bottom: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  text-align: left;

  @media (max-width: $tablet-width) {
    &:first-child {
      padding-right: 40px;
    }

    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
  }
}

.action-block__details {
  @include default-style;

  margin-top: auto;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $darkblue;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  text-align: left;

  border-bottom: 1px solid $darkblue;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (max-width: $mobile-width) {
    width: auto;

    margin: 0;
    padding-top: 0;
  }
}
