.advantage-block {
  background-color: $lightgrey;
}

.advantage-block__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1160px;
  padding-top: 120px;
  padding-bottom: 110px;

  @media (max-width: $tablet-width) {
    width: 88.2%;

    max-width: none;

    margin: 0;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (max-width: $mobile-width) {
    display: block;

    width: auto;
    max-width: none;

    margin: auto;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 65px;
  }
}

.advantage-block__wrapper h2{
  @include default-style;
  @include headtitle-desktop;

  padding-bottom: 62px;

  text-align: center;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;

    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;

    padding-bottom: 45px;
  }
}

.advantage-block__text {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1040px;

  margin: auto;

  @media (max-width: $tablet-width) {
    width: 678px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    max-width: none;
    width: auto;

    padding: 0;
    margin: 0;
  }
}

.advantage-block__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  width: calc(50% - 20px);

  margin: 0;
  margin-bottom: 101px;
  padding-left: 23px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;

    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    display: block;
    min-width: 290px;

    width: auto;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 31px;

    text-align: center;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.advantage-block__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    display: block;
    min-width: 290px;

    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.advantage-block__list--bottom {
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }
}

.advantage-block__item--bottom p {
  padding-left: 40px;
  padding-right: 40px;
}

.advantage-block__item p {
  @include default-style;

  display: flex;
  flex-direction: column;

  text-align: left;

  margin-right: 33px;

  @media (max-width: $tablet-width) {
    margin-right: 30px;
  }
  @media (max-width: $mobile-width) {
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
    }
  }

.advantage-block__number{
  @include default-style;

  font-weight: bold;
  font-size: 71px;
  line-height: 100%;

  background: linear-gradient(130deg, #ed0233 0%, #063db4 45%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $tablet-width) {
    font-weight: bold;
    font-size: 58px;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.advantage-block__unit {
  font-size: 14px;
  line-height: 80%;

  @media (max-width: $mobile-width) {
    text-align: center;
  }

}

.advantage-block__about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantage-block__about h3 {
  @include default-style;

  font-weight: bold;
  font-size: 22px;
  line-height: 150%;

  text-align: left;

  margin-bottom: 3px;

  @media (max-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
  }
}

.advantage-block__about p {
  @include default-style;

  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  text-align: left;

  @media (max-width: $mobile-width) {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
}

.advantage-block__center {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
  display: block;

  box-sizing: border-box;


  max-width: 240px;

  padding-top: 55px;
  padding-right: 34px;
  padding-bottom: 50px;
  padding-left: 34px;

  color: $white;
  background-color: $darkblue;

  text-align: center;

  @media (max-width: $tablet-width) {
    position: static;
    transform: none;

    max-width: 442px;

    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

    padding-top: 20px;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    max-width: none;
    width: auto;

    margin: 0;
    margin-top: 45px;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 45px;

  }
}

.advantage-block__center span {
  @include default-style;

  margin-bottom: 10px;

  font-weight: bold;
  font-size: 74px;
  line-height: 110%;

  color: $white;

  @media (max-width: $tablet-width) {
    line-height: 95px;

    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    line-height: 85px;

  }
}

.advantage-block__center h3 {
  @include default-style;

  margin-bottom: 40px;
  font-size: 26px;

  @media (max-width: $tablet-width) {
    font-size: 22px;

    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    text-align: center;

    margin-bottom: 10px;
  }

}

.advantage-block__center p {
  @include default-style;

  margin: 0;

  font-size: 16px;
  line-height: 150%;

  @media (max-width: $mobile-width) {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

}
