.card-block {
  background-color: $lightgrey;
  background-image:
    url("../img/bg/bg-plate-desktop@1x.png"),
    linear-gradient(180deg, $lightgrey 89%, $white 11%);
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 110%, 0 0;
  background-size: auto, auto;

  @media (max-width: $tablet-width) {
    background-image:
      url("../img/bg/bg-plate-tablet@1x.png"),
      linear-gradient(180deg, $lightgrey 96.2%, $white 3.8%);
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 104%, 0 0;
    background-size: auto, auto;
  }

  @media (max-width: $mobile-width) {
    background-image:
    none,
    linear-gradient(180deg, $lightgrey 100%, $white 0);
  }
}

.card-block__tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  max-width: 1160px;

  margin: auto;
  padding-top: 120px;
  padding-bottom: 225px;

  @media (max-width: $tablet-width) {
    width: 88.2%;

    padding-top: 100px;
    padding-bottom: 130px;
  }

  @media (max-width: $mobile-width) {
    width: auto;

    margin: 0;
    padding-top: 65px;
    padding-bottom: 33px;
  }
}

.card-block__tickets h2 {
  @include default-style;
  @include headtitle-desktop;

  margin-bottom: 35px;
  text-align: center;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;

    margin-bottom: 45px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;
    margin-bottom: 23px;
  }
}

.card-block__list {
  position: relative;

  @include default-style;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 341px;

  margin-bottom: 35px;

  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (max-width: $tablet-width) {
    width: 332px;

    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;

    margin: 0;
    margin-bottom: 35px;
  }
}

.card-block__item {
  @include default-style;
  box-sizing: border-box;

  text-align: center;
}

.card-block__item a {
  @include default-style;
  display: block;

  font-family: $font-roboto;
  font-size: 20px;
  line-height: 150%;
  color: $darkblue;

  padding-bottom: 9px;

  opacity: 0.5;

  border-bottom: 2px solid transparent;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    padding-bottom: 13px;
  }
}

.card-block__item a[href] {
  &:hover,
  &:focus {
    opacity: 1;
    border-bottom: 2px solid red;
    outline: none;
  }
}
