.contacts-block {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, $darkblue 50%, $white 50%);

    border-top: 1px solid #74819c;
  }

  @media (max-width: $tablet-width) {
    background-image: linear-gradient(180deg, $darkblue 48%, $darkblue 2%, $white 48%);

    border-top: 0 solid #74819c;
  }

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(180deg, $darkblue 43.23%, $white 1.3%, $white 51.77%);
  }
}

.contacts-block__post {
  display: flex;
  max-width: 1106px;
  flex-direction: row;
  justify-content: flex-start;

  padding-top: 62px;
  padding-right: 0;
  padding-bottom: 62px;
  padding-left: 20px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 0;
  }
//   @media (max-width: $mobile-width) {
//     padding-top: 70px;
//     padding-bottom: 230px;
//   }
}

.contacts-block__wrapform {
  margin-right: 290px;

  @media (max-width: 1250px) {
    max-width: 100%;

    margin-right: 220px;
  }

  @media (max-width: $tablet-width) {
    width: 472px;
  }
}

.contacts-block__wrapcontact {
  @media (max-width: $tablet-width) {
    width: 472px;
  }

  // @media (max-width: $mobile-width) {
  //   width: 320px;
  //   padding-bottom: 75px;
  // }
}

.contacts-block__form {
  display: flex;
  flex-direction: column;

  width: 410px;

  @media (max-width: $tablet-width) {
    width: 472px;

    padding-top: 68px;
    padding-left: 88px;
    padding-bottom: 138px;
  }

  @media (max-width: $mobile-width) {
    display: block;

    min-width: 290px;
    padding-left: 0;
    padding-bottom: 140px;
  }
}

.contacts-block__form h2 {
  @include default-style;

  margin-bottom: 31px;

  font-family: $font-bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;

  text-align: left;

  color: $white;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;

    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;
    margin-bottom: 35px;
  }
}

.contacts-block__contacts {
  display: flex;
  flex-direction: column;

  width: 410px;

  @media (max-width: $tablet-width) {
    padding-left: 88px;
    padding-bottom: 60px;
  }

    @media (max-width: $mobile-width) {
      padding-left: 0;
      padding-bottom: 45px;
    }
}

.contacts-block__contacts h2 {
@include default-style;

margin-bottom: 34px;

font-family: $font-bebas;
font-size: 49px;
line-height: 64px;
letter-spacing: 0.03em;
text-transform: lowercase;

text-align: left;

color: $darkblue;

@media (max-width: $tablet-width) {
  @include headtitle-tablet;

  margin-bottom: 35px;
}

@media (max-width: $mobile-width) {
  @include headtitle-mobile;
  margin-bottom: 35px;
}
}

.contacts-block__lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;


  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    display: block;

    width: auto;
  }
}

.contacts-block__lesson input {
  @include default-style;

  box-sizing: border-box;

  width: calc(50% - 15px);

  margin-bottom: 30px;
  padding: 5px;
  padding-left: 0;

  font-family: $font-roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-align: left;

  color: $white;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;

  &::placeholder {
    color: $white;

    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  @media (max-width: $tablet-width) {
    width: calc(50% - 30px);
  }

  @media (max-width: $mobile-width) {
    display: block;

    width: 290px;

    margin-bottom: 35px;
    padding-left: 0;
  }
}

.contacts-block__contact {
  position: relative;
  padding-left: 4px;

  &::before {
    content: "";
    position: absolute;

    top: 56px;
    right: 123px;

    display: block;

    width: 102px;
    height: 0;

    border: 1px solid #74819c;

    transform: rotate(90deg);
  }

  @media (max-width: $tablet-width) {
    width: 472px;

    padding-left: 0;

    &::before {
      top: 70px;
      right: 140px;
      width: 129px;
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      width: 0;
      height: 0;
    }
  }
}

.contacts-block__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  box-sizing: border-box;

  width: 400px;

  margin: 0;

  @media (max-width: $tablet-width) {
    width: 455px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

// .contacts-block__column {
//   width: 50%;
// }

.contacts-block__item {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

box-sizing: border-box;

margin: 0;
margin-bottom: 19px;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.contacts-block__item--bottom {
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
  }
}

.contacts-block__item--bottom h3 {
  margin-bottom: 8px;
}

.contacts-block__item h3 {
  @include default-style;

  margin-bottom: 3px;

  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: left;

  color: $darkblue;

  @media (max-width: $tablet-width) {
    margin-bottom: 6px;

    font-size: 20px;
  }
}

.contacts-block__item p {
@include default-style;

font-weight: normal;
font-size: 14px;
line-height: 21px;

text-align: left;

color: $darkblue;

@media (max-width: $tablet-width) {
  font-size: 18px;
  line-height: 152.34%;
}
}

.contacts-block__phone {
@include default-style;

font-weight: normal;
font-size: 14px;
line-height: 21px;

text-align: left;

color: $darkblue;

&:hover,
&:focus {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  font-size: 18px;
  line-height: 152.34%;
}
}

.contacts-block__email {
@include default-style;

font-weight: normal;
font-size: 14px;
line-height: 21px;

text-align: left;

color: $darkblue;

&:hover,
&:focus {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  font-size: 18px;
  line-height: 152.34%;
}
}
