.contacts-block {
  background-image: linear-gradient(180deg, $darkblue 50%, $white 50%);

  border-top: 1px solid #74819c;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(90deg, $darkblue 50%, $white 50%);

    border-top: 1px solid #74819c;
  }

  // @media (max-width: $mobile-width) {
  //   background-image: none;
  // }
}

.contacts-block__cover {
  @media (max-width: $mobile-width) {
    background-color: $darkblue;
  }
}

.contacts-block__post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 0;
  width: 1160px;

  padding-top: 60px;
  padding-bottom: 67px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    width: 678px;

    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 70px;
    padding-bottom: 230px;
  }
}

.contacts-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: calc(50% - 170px);

  @media (max-width: $tablet-width) {
    width: 69.5%;
    padding-left: 90px;
  }

  @media (max-width: $mobile-width) {
    display: block;

    min-width: 290px;
    padding-left: 0;
  }
}

.contacts-block__wrapper--form {
  margin-right: 290px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    padding-bottom: 115px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 110px;
  }
}

.contacts-block__wrapper--form h2 {
  @include default-style;

  margin-bottom: 31px;

  font-family: $font-bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;

  text-align: left;

  color: $white;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;
  }
}

.contacts-block__wrapper--contacts {
  @media (max-width: $tablet-width) {
    padding-top: 25px;
  }
}

.contacts-block__wrapper--contacts h2 {
  @include default-style;

  margin-bottom: 34px;

  font-family: $font-bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;

  text-align: left;

  color: $darkblue;

  @media (max-width: $tablet-width) {
    @include headtitle-tablet;
  }

  @media (max-width: $mobile-width) {
    @include headtitle-mobile;
    margin-bottom: 40px;
  }
}

.contacts-block__lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $mobile-width) {
    display: block;

    width: auto;
  }
}

.contacts-block__lesson input {
  @include default-style;

  box-sizing: border-box;

  width: calc(50% - 15px);

  margin-bottom: 30px;
  padding: 5px;
  padding-left: 0;

  font-family: $font-roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-align: left;

  color: $white;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;

  &::placeholder {
    color: $white;

    opacity: 1;
  }

  @media (max-width: $mobile-width) {
    display: block;

    width: 290px;

    margin-bottom: 38px;

    padding-left: 0;
  }
}

.contacts-block__contact {
  position: relative;

  width: 410px;

  &::before {
    content: "";
    position: absolute;

    top: 56px;
    right: 122px;

    display: block;

    width: 102px;
    height: 0;

    border: 1px solid #74819c;

    transform: rotate(90deg);
  }

  @media (max-width: $tablet-width) {
    width: 96%;

    &::before {
      top: 70px;
      width: 129px;
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      width: 0;
      height: 0;
    }
  }
}

.contacts-block__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  box-sizing: border-box;
  margin: 0;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

}

.contacts-block__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;

  margin: 0;
  margin-bottom: 21px;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.contacts-block__item--bottom {
  margin-bottom: 0;
}

.contacts-block__item h3 {
  @include default-style;

  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: left;

  color: $darkblue;

  @media (max-width: $tablet-width) {
    font-size: 20px;
  }
}

.contacts-block__item p {
  @include default-style;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: left;

  color: $darkblue;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 152.34%;
  }
}

.contacts-block__phone {
  @include default-style;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: left;

  color: $darkblue;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 152.34%;
  }
}

.contacts-block__email {
  @include default-style;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: left;

  color: $darkblue;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 152.34%;
  }
}
