.page-footer {
  background-color: $black;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;

  max-width: 1160px;

  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 39px;

  @media (max-width: $tablet-width) {
    max-width: 768px;

    padding-top: 42px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    max-width: auto;

    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.page-footer__logo img {
  width: 89px;
  height: 20px;

  @media (max-width: $tablet-width) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 68px;
    height: 15px;
  }
}

.page-footer__list {
  @include default-style;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;

  width: 68.62%;
  margin-right: 21.64%;

  @media (max-width: 1250px) {
    margin-right: 16%;
  }

  @media (max-width: $tablet-width) {
    width: 78.61%;

    margin-right: 6.34%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 290px;
    width: auto;
    height: 110px;
    margin: 0;
    margin-bottom: 25px;
  }
}

.page-footer__item {
  @include default-style;

  margin-right: 5%;

  &:first-child {
    margin-right: 34.8%;

    @media (max-width: 1250px) {
      margin-right: 30%;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-right: 5.63%;

    &:first-child {
      margin-right: 11.63%;
    }
  }

  @media (max-width: $mobile-width) {

    margin-bottom: 10px;

    &:first-child {
      margin-top: 2px;
    }
    text-align: left;
  }
}

.page-footer__item a {
  @include default-style;

  font-family: $font-roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $white;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 19px;
  }
}
