.page-footer {
  background-color: $black;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 1160px;

  padding-top: 40px;
  padding-bottom: 39px;

  @media (max-width: $tablet-width) {
    max-width: none;
    max-width: 768px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    max-width: auto;
    min-height: 320px;

    margin: 0;
  }
}

.page-footer__logo {
  margin-right: 276px;

  @media (max-width: $tablet-width) {
    margin-right: 62px;
  }
}

.page-footer__logo img {
  max-width: 89px;
  width: 89px;
  height: 20px;

  @media (max-width: $tablet-width) {
    width: 82px;
    height: 18px;
  }
}

.page-footer__list {
  @include default-style;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 430px;

  margin-right: 254px;

  @media (max-width: $tablet-width) {
    min-width: 392px;

    margin-right: 43px;
  }
}

.page-footer__item {
  @include default-style;

  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }
}

.page-footer__item a {
  @include default-style;

  font-family: $font-roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $white;
}
