.slider--reviews {
  display: flex;
  height: auto;
}

.swiper-wrapper {
  display: flex;

  max-width: 560px;
  height: auto;
  min-height: 242px;
}

.slider--trainer {
  width: 1160px;

  @media (max-width: $tablet-width) {
    width: 566px;
  }
}

.trainer-slide {
  width: 260px;

  margin-right: 40px;

  @media (max-width: $tablet-width) {
    width: 268px;

    margin-right: 30px;
  }
}

.slider--reviews {
  width: 560px;
  height: auto;
}

.reviews-slide {
  display: flex;
  width: 560px;
  height: auto;
}


.swiper-button-prev,
.swiper-button-next {
  @include default-style;

  top: 45%;

  width: 16px;
  height: 32px;


  outline: none;
  background-color: transparent;

  border: none;

  opacity: 1;

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0;
    outline: none;
  }
}

.slider--trainer button {
  position: absolute;
  top: 45%;
  transform: translateY(-5
  0%);

  z-index: 58;
}

.trainer-button-prev {
  left: -5%;

  @media (max-width: 1280px) {
    left: -2.5%;
  }

  @media (max-width: $tablet-width) {
    left: -9.9%;
  }

  @media (max-width: $mobile-width) {
    left: -22px;
  }
}

.trainer-button-next {
  right: -5%;

  @media (max-width: 1280px) {
    right: -2.5%;
  }

  @media (max-width: $tablet-width) {
    right: -9.9%;
  }


  @media (max-width: $mobile-width) {
    right: -22px;
  }
}

.trainer-button-prev {
  @include default-style;

  position: absolute;

  width: 16px;
  height: 32px;

  background-color: none;
  background-image: url("../img/icon/icon-left.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}

.trainer-button-next {
  @include default-style;

  position: absolute;

  width: 16px;
  height: 32px;

  background-color: none;
  background-image: url("../img/icon/icon-right.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}

// .reviews-button-prev,
// .reviews-button-next {
//   @include default-style;
//
//   width: 16px;
//   height: 32px;
//
//
//   outline: none;
//   background-color: transparent;
//
//   border: none;
//
//   opacity: 1;
//
//   &::after {
//     display: none;
//   }
//
//   &:hover,
//   &:focus {
//     opacity: 0;
//     outline: none;
//   }
// }

.reviews-block__wrapper button {
  position: absolute;
  // top: 50%;
  // transform: translateY(-5
  // 0%);

  z-index: 58;
}

.reviews-button-prev {
  @include default-style;

  position: absolute;

  width: 16px;
  height: 32px;

  background-color: none;
  background-image: url("../img/icon/icon-left.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}

.reviews-button-next {
  @include default-style;

  position: absolute;

  width: 16px;
  height: 32px;

  background-color: none;
  background-image: url("../img/icon/icon-right.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}

.reviews-button-prev {
  top: 45%;
  left: -13px;

  @media (max-width: $tablet-width) {
    top: 44.7%;
    left: -15px;
  }

  @media (max-width: $mobile-width) {
    left: 15px;
  }
}

.reviews-button-next {
  top: 45%;
  right: -13px;

  @media (max-width: $tablet-width) {
    top: 44.7%;
    right: -15px;
  }

  @media (max-width: $mobile-width) {
    right: 15px;
  }
}
