.swiper-button-prev,
.swiper-button-next {
  @include default-style;

  width: 16px;
  height: 32px;

  opacity: 0;

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0;
    outline: none;
  }
}

.trainer-button-prev {
  @include default-style;

  position: absolute;

  width: 16px;
  height: 32px;

  background-image: url("../img/icon/icon-left.svg");
  background: center no-repeat;
  background-size: contain;

}

.trainer-button-next {
  right: 10px;
  background-image: url("../img/icon/icon-right.svg");
}



// .trainer-button-next {
//   @include default-style;
//
//   position: absolute;
//
//   width: 16px;
//   height: 32px;
//
//   background-image: url("../img/icon/icon-right.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
// }
