.swiper-container {
  position: relative;

  width: 1160px;
  height: auto;
}

.swiper-slide {
  width: 260px;
  min-height: 294px;
  height: 100%;

  margin-right: 40px;
}

.swiper-button-prev {
  @include default-style;

  position: absolute;

  top: 45%;
  left: -3%;

  display: block;

  width: 30px;
  height: 30px;

  border: solid #afafaf;
  border-width: 0 1px 1px 0;

  border-bottom: 1px solid #afafaf;
  border-right: 1px solid #afafaf;

  transform: rotate(-45deg);
  transform: matrix(-0.55, -0.52, -0.52, 0.55, 0, 0);
}

.swiper-button-next {
  @include default-style;

  position: absolute;

  top: 45%;
  right: -3%;

  display: block;

  width: 30px;
  height: 30px;

  border-top: 1px solid #afafaf;
  border-left: 1px solid #afafaf;

  transform: rotate(-45deg);
  transform: matrix(-0.55, -0.52, -0.52, 0.55, 0, 0);
}
