.social {
  @include default-style;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 110px;

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 98px;
  }
}

.social__item {
  @include default-style;

  margin-right: 25px;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }
}
