.social {
  @include default-style;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 9.5%;

  @media (max-width: 1250px) {
    width: 12%;
  }

  @media (max-width: $tablet-width) {
    width: 14.9%;
  }

  @media (max-width: $mobile-width) {
    min-width: 145px;
    margin: 0;
  }
}

.social__item {
  @include default-style;

  margin-right: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.5;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 35px;
  }
}

.social__link--vk {
  @media (max-width: $mobile-width) {
    display: block;

    width: 32px;
    height: 17px;
  }
}

.social__link--insta {
  @media (max-width: $mobile-width) {
    display: block;

    width: 27px;
    height: 27px;
  }
}

.social__link--fb {
  @media (max-width: $mobile-width) {
    display: block;

    width: 14px;
    height: 27px;
  }
}
