/*colors*/
$black: #030a1a;
$lightgrey: #f8f9fc;
$white: #ffffff;
$darkblue: #102654;
$blue:  #1c3374;
$red: #ed0233;

/*gradient*/
/*$gradient-background: background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$gradient-frame: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
$gradient-btn: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);*/

/*media*/
$desktop-width: 1200px;
$tablet-width: 1199px;
$mobile-width: 767px;

/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*fonts*/
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-bebas: "Bebas Neue", "Arial", sans-serif;
